DNS_OVER_HTTPS=true
HTTPS_REMOTE_ADDRESS=https://cloudflare-dns.com/dns-query,https://dns.google.com/experimental
UDP_REMOTE_ADDRESS=1.1.1.1,8.8.8.8
BLOCKED_HOSTS_URL=https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts

NAME=LOCAL
ADBURNER_PATH=<PATH_TO>/adburner

# адрес и порт на котором будет отвечать dns сервер
IP_PORT=192.168.100.239:53
